 .landingContentBg{
   text-align: center;
   background-attachment: fixed;
    background-image: url('landingBg.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: grid;
    place-items:  center;
 }

 .content{
   color: white !important;
   width: 50vw;
 }
 .header{
   letter-spacing: 2px !important;
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
 }

 .desc{
   margin-top: 2rem;
   font-size: 0.8rem;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 5rem;
 }

 .button{
   font-size: 1.1rem;
   background-color: transparent;
   border: 3px solid #FDD835;
   border-radius: 5px;
   font-weight: 700;
   letter-spacing: 1px;
   color: white;
   padding: 0.6rem 3rem ;
 }

   /* .button :hover{
      background-color: #FFECB3;
      color: black;
   } */