.SeeMorebg{
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.SeeMorebg .content{
    width: 40vw;
}

.SeeMorebg i{
    font-size: 7rem;
}

.SeeMorebg .text1{
    margin-top: 20px;
    font-size: 2rem !important;
}

.SeeMorebg .text2{
    margin-top: 5px;
    font-size: 1.1rem;
}