.bigTxt{
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    word-spacing: 10px;
    line-height: 5rem;
}

.smallTxt{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #808B96;
}

button{
    font-weight: bold !important;
    letter-spacing: 1.5px;
}

.smallTxt2{
    font-size: 0.8rem;
    font-weight: bold;
    color: #616A6B;
    letter-spacing: 1px;
}


img{
    height: 2rem;
    margin-right: 1.5rem;
    border-radius: 10px;
}