.header{
    margin-top: 2.5rem !important;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.text{
    width: 75vw;
    font-weight: 700;
    color: gray;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-transform: uppercase;
}