@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@600&display=swap');


.cardContainer{
    line-height: 2rem;
    /* padding-right: 2rem; */
}

.stylishTxt {
    color: rgb(93 93 255);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Kalam';
}

.header{
    font-size: 2rem;
    font-weight: bold;
    color: white;

}
.desc{
    padding-top: 50rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.points{
    color: white;
    font-weight: 600;
}

.points i{
    color: #2ECC71;
    font-weight: bold;
    font-size: 1.5rem;
}